*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.container{
    height: 90vh;
    display: flex;
    margin: 0% 5% 0% 5%;
}

p{
    margin-top: 5%;
    padding: 5%;
}

#left-group{
    background-color: #fff;
    border: 1px solid #48ff00;
    flex: 1;
}

#right-group{
    background-color: #fff;
    border: 1px solid #ff0000;
    flex: 1;
}

#btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.btn{
    height: 60px;
    width: 60px;
    margin: 20%;
}

.mouseover{
    background-color: chartreuse;
    cursor: pointer;
}

.active{
    background-color: chartreuse;
    cursor: pointer;
}