body {
    overflow-y: hidden;
}

#main-container {
    height: 100vh;
    padding-top: 10%;
}

/* Slideshow */
#background-container {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: blur(3px);
}

.carousel-inner {
    height: 100%;
    display: flex;
    justify-content: center;
}

.carousel-inner img {
    height: 350px;
    width: 600px;
    border: 1px solid #fff;
    transition: transform 0.5s ease;
}

.carousel-inner img:hover {
    transform: scale(1.01);
    cursor: pointer;
    z-index: 2;
}

.btn {
    position: fixed;
    top: 42%;
    cursor: pointer;
    border: none;
    width: auto;
    padding: 1%;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    opacity: 0.5;
    z-index: 1;
}

.prev {
    left: 30%;
}

.next {
    right: 30%;
}

.carousel-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .carousel-indicators button {
    height: 30px;
    width: 30px;
    border: 1px solid lightgray;
    background-color: #fff;
    margin: 1%;
    border-radius: 50%;
} */

.active {
    display: block;
}

.current {
    background-color: #808080;
}

button:focus {
    outline: none;
}