*{
    box-sizing: border-box;
}

body{
    color: #fff;
    overflow: hidden;
}

#error{
    text-align: center;
    color: red;
    font-size: large;
    padding-bottom: 5%;
}

#show-password{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.generator{
    align-self: center;
    justify-self: center;
    background-color: #8a2be2;
    padding: 1%;
    min-width: 50%;
}

.table{
    background-color: #4b0082;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3%;
}

#password-display{
    display: flex;
    flex-direction: column;
    border: 1px solid #040480;
    height: 80px;
    background-color: #8a2be2;
}

#copy-btn{
    align-self: flex-end;
}

.form-wrapper{
    margin-top: 2%;
}

#form{
    display: flex;
    flex-direction: column;
}

.form-control{
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.form-control label{
    flex: 2;
}

input[type="text"]{
    text-align: right;
    min-width: 10%;
    width: 10%;
}

#btn{
    margin-top: 5%;
    flex: auto;
    height: 40px;
    background-color: #f5bc51;
    border: none;
    color: #ad63f1;
    font-weight: bold;
    font-size: large;
    width: 100%;
}